server:
  port: 8081
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/nacos-seata?allowMultiQueries=true&useSSL=false
    username: root
    password: 123
    driver-class-name: com.mysql.cj.jdbc.Driver
